<div>
<h1>Felicitaciones {{user.first_name}}!</h1>
<h2>La compra se ha realizado con éxito</h2>
<hr>
{{!-- {{#each productsCart}}
    <p>Nombre: {{this.product.title}}</p> 
    <p>Descripción: {{this.product.description}}</p> 
    <p>Precio: {{this.product.price}}</p> 
    <p>Cantidad: {{this.quantity}}</p>
    <hr>
{{/each}}
<h3>Saldo total: ${{balance}}</h3> --}}
<a style="color: black; font-size: 20px;" href="/products-view">Volver al catálogo de productos</a>
</div>